* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #330744;
    font-family: 'Roboto', 'Open Sans', Arial, sans-serif;
    color: #ffffff;
}

.container {
    width: 80%;
    max-width: 800px;
    text-align: center;
    padding: 20px;
    background-color: #47166b;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
}

.personagens {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.personagem {
    background-color: #5f2684;
    border: 2px solid #8f42ae;
    padding: 10px;
    border-radius: 5px;
    width: 200px;
}

.personagem h2 {
    margin-bottom: 10px;
    color: #ffffff;
}

.personagem div {
    color: #ffffff;
    font-weight: bold;
    margin-bottom: 10px;
}

