body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#330744;
}

#app {
    width: 80%;
    max-width: 600px;
    text-align: center;
}

.personagem {
    background-color: white;
    border: 2px solid #8f42ae;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    width: 200px;
}

.acoes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
}

button {
    margin: 5px;
    padding: 5px;
    border: none;
    border-radius: 5px;
    background-color: #c16be3;
    color: black;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    align-items: center;
}

button:hover {
    background-color:#8f42ae;
}

button:active {
    transform: translateY(2px);
}

.barra-vida {
    height: 30px;
    background-color: #b3fbb5;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    margin-bottom: 20px;
}

.sprite img {
    height: 100px;
    margin-bottom: 20px;
    background-color: #ddd;
    border-radius: 5px;
}